body{
    margin: 0;
}
h1{
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'El Messiri', sans-serif;
    font-size: 50px;
}
.half-width1{
 width: 40%;
 float: left;
 margin: 4%;
 padding-left: 2%;
}
.half-width1 img{
    width: 45%;
}
.blue-name-highlight{
    color: blue;
}
.first-banner-h3{
    color: cadetblue;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg blue, lightgreen);
    padding: 10px 20px;
    border-radius: 8px;
    color: lightskyblue;
    font-weight: 800;
}
.section{
    height: 500px;
    padding-bottom: 100px;
}
.top-banner1{
    background-image: url(
}
