body{
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
}
a{
    text-align: center;
    color:blue;
    font-family: sans-serif, Helvetica;
    font-size: 1.2vw;
    
}
a:hover{
    color: steelblue;
    transition: 0.5s;
    
}
h1{
    font-size: 50px;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Bodoni Moda', serif;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
}
.tomato-highlight{
    color: PaleVioletRed;
}
p{
    font-style: initial;
}
.half-width{
    width: 38%;
    float: left;
    margin: 4%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, MediumAquaMarine, lightgreen );
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 800;
}
.second-name-highlight{
    color: darkcyan;
}
h2{
    font-size: 45px;
    
}
.second-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.box-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin: 15px;
    padding: 15px;
    transition: 2s;
    box-shadow: 10px 10px 30px grey;
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border: 5px outset;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.single-box:nth-child(1) .img-area{
    background-image: url(images2/img1.jpeg);
}
.single-box:nth-child(2) .img-area{
    background-image: url(images2/img2.jpg);
}
.single-box:nth-child(3) .img-area{
    background-image: url(images2/img3.png);
}
.header-text{
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
}
.single-box:hover{
    background: lightslategray;
    color: lavenderblush;
}
footer p{
    text-align: center;
}
footer h3{
    text-align: center;
    font-size: 20px;
    color: teal;
    
}
.email-link{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightblue, salmon);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: whitesmoke;
}
.inside-footer{
    margin: 100px;
    padding: 30px;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    background-image: linear-gradient(45deg, oldlace, powderblue);
    border: 4px outset;
    transition: 3s;
    box-shadow: 10px 10px 10px lightsteelblue;
}
.inside-footer:hover{
    background: whitesmoke;
    color: royalblue;
}
.social-link{
    display: flex;
}
.social-link ul{
    display: flex;
    
}
.social-items{
    list-style: none;
    
}
.social-items a{
    padding: 10px 15px;
    font-size: 20px;
    color: lightslategray;
    font-family: 'Times New Roman', Times, serif;
    
}
.single-experience{
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
    height: 70%;
    background-color: whitesmoke;
    
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
        
}
#full-stack{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, darkblue, rgb(102, 243, 236) );
    border-image-slice: 1;
    
}
#baby-dev{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, darkblue, lightblue) ;
    border-image-slice: 1;
}
.single-experience:hover{
    background: darkgrey;
    color: whitesmoke;
}