body{
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
}
a{
    text-align: center;
    color:blue;
    font-family: sans-serif, Helvetica;
    font-size: 1.2vw;
    
}
a:hover{
    color: steelblue;
    transition: 0.5s;
    
}
h1{
    font-size: 50px;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Bodoni Moda', serif;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
}
.tomato-highlight{
    color: chocolate;
}
p{
    font-style: initial;
}
.half-width{
    width: 38%;
    float: left;
    margin: 4%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(13, 143, 143), lightgreen );
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 800;
}
.second-name-highlight{
    color: darkcyan;
}
h2{
    font-size: 45px;
    
}
.second-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.single-experience{
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
    height: 70%;
    background-color: whitesmoke;
    
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
        
}
#full-stack{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, lightgreen, rgb(102, 243, 236) );
    border-image-slice: 1;
    
}
#baby-dev{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, rgb(33, 88, 207), lightblue) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}